Source: needle
Section: sound
Priority: optional
Maintainer: Greg Gauthier <gmgauthier@protonmail.com>
Build-Depends:
 debhelper-compat (= 13),
 meson (>= 0.56),
 ninja-build,
 pkg-config,
 g++,
 libgtkmm-3.0-dev,
 libgstreamer1.0-dev,
 libgstreamer-plugins-base1.0-dev
Standards-Version: 4.7.0
Homepage: https://github.com/gmgauthier/needle
Vcs-Git: https://github.com/gmgauthier/needle.git
Vcs-Browser: https://github.com/gmgauthier/needle
Rules-Requires-Root: no

Package: needle
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 gstreamer1.0-plugins-ugly
Recommends:
 gstreamer1.0-pulseaudio | gstreamer1.0-alsa
Description: Sound Recorder for The Lunduke Computer Operating System
 Needle is a gtkmm-3 Sound Recorder whose chrome is Windows 95 sndrec32:
 green waveform, Rec/Stop/Play, WAV tape, Pulse/ALSA input picker.
 Save As / Open also do FLAC, Ogg Vorbis, and MP3.
